<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="author-input">Author</label>
      <input type="text" id="author-input" name="authorInput" />
      <label for="text-input">Message</label>
      <input type="text" id="text-input" name="messageInput" />
      <button>Submit</button>
    </form>
  </body>
</html>
